body {
    background-color: black;
    color: white;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
    color: lightgray;
  }
  .divi {
    border: 2px white dotted;
    width: 100px;
    height: 100px;
  }
  ol {
    list-style: upper-latin;
  }
  ul {
    list-style-type: square
  }
.second {
    border-style: dotted; 
    color: red;
}
.secondp {
  background-color: purple;
}